body{
    background: linear-gradient(to right,rgb(225, 144, 158), rgb(56, 56, 116));
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav_bar{
    width: 100;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    
    gap: 5rem;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 0.75rem groove black;
    box-sizing: border-box;

    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
}

.nav_bar a {
    font-size: 4rem;
    border-radius: 1rem;
    text-decoration: none;
    padding: 1rem;
    background-color: aliceblue;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    color: black;
    transition: 0.4s ease-in-out;
    box-shadow: 0px 0px 10px 5px black;

}

.nav_bar a:hover {
    color: white;
    background-color: black;
}

.nav_bar img{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 2rem blue, 0 0 2rem red, 0 0 2rem yellowgreen;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.center {
    width: 100vw;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    box-sizing: border-box; 
    flex: 1;
}

.text-content {
    font-size: 2rem;
    background-color: antiquewhite;
    padding: 6rem;
    border-radius: 2.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    box-shadow: 0px 0px 10px 5px black;
    box-sizing: border-box; 
}

p span{
    font-size: 6rem;
}

.center img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    box-shadow: 0 0 2rem blue, 0 0 2rem red, 0 0 2rem yellowgreen;
}

footer{
    background-color: hsl(151, 86%, 54%);
    bottom: 0;
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 2.5rem;    
    box-shadow: 0 0 15px 5px black;
    width: 100vw;
}

footer > p >a{
    text-decoration: none;
    color: rgb(58, 22, 203);
}

@media screen and (max-width: 880px) {
    .nav_bar img{
        display:none;
    }
}

@media screen and (max-width:575px) {
    .nav_bar img {
        width: 0;
        height: 0;
        display:none;
    }

    .nav_bar{
        justify-content: space-evenly;
        gap: 1rem;
        width: 100%;
    }

    .nav_bar a{
        font-size: 2rem;
    }

    .center {
        width: 100vw;
    }

    .text-content{
        font-size: 2.4rem;
        text-align: center;
        padding: 2rem;
    }

    p span{
        font-size:3rem;
    }

    .center img{
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
    }

    footer{
        box-sizing: border-box;
        padding: 1rem;
    }
}